<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>loginController</servlet-name>
        <servlet-class>controller.loginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginCheckerServlet</servlet-name>
        <servlet-class>controller.LoginCheckerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminLoginCheckerServlet</servlet-name>
        <servlet-class>controller.AdminLoginCheckerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HospiLoginCheckerServlet</servlet-name>
        <servlet-class>controller.HospiLoginCheckerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserRegisterCheckerServlet</servlet-name>
        <servlet-class>controller.UserRegisterCheckerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HospiRegisterCheckerServlet</servlet-name>
        <servlet-class>controller.HospiRegisterCheckerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateHospiServlet</servlet-name>
        <servlet-class>controller.UpdateHospiServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HospiUpdateServlet</servlet-name>
        <servlet-class>controller.HospiUpdateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateSlotsServlet</servlet-name>
        <servlet-class>controller.UpdateSlotsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertHospitalServlet</servlet-name>
        <servlet-class>controller.InsertHospitalServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertUserServlet</servlet-name>
        <servlet-class>controller.InsertUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateUserServlet</servlet-name>
        <servlet-class>controller.UpdateUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserUpdateServlet</servlet-name>
        <servlet-class>controller.UserUpdateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BookSlotServlet</servlet-name>
        <servlet-class>controller.BookSlotServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>loginController</servlet-name>
        <url-pattern>/loginController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginCheckerServlet</servlet-name>
        <url-pattern>/LoginCheckerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminLoginCheckerServlet</servlet-name>
        <url-pattern>/AdminLoginCheckerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HospiLoginCheckerServlet</servlet-name>
        <url-pattern>/HospiLoginCheckerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserRegisterCheckerServlet</servlet-name>
        <url-pattern>/UserRegisterCheckerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HospiRegisterCheckerServlet</servlet-name>
        <url-pattern>/HospiRegisterCheckerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateHospiServlet</servlet-name>
        <url-pattern>/UpdateHospiServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HospiUpdateServlet</servlet-name>
        <url-pattern>/HospiUpdateServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateSlotsServlet</servlet-name>
        <url-pattern>/UpdateSlotsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertHospitalServlet</servlet-name>
        <url-pattern>/InsertHospitalServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertUserServlet</servlet-name>
        <url-pattern>/InsertUserServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateUserServlet</servlet-name>
        <url-pattern>/UpdateUserServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserUpdateServlet</servlet-name>
        <url-pattern>/UserUpdateServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BookSlotServlet</servlet-name>
        <url-pattern>/BookSlotServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
